* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
.container {
  background-color: #eee;
  width: 75%;
  height: 50vh;
  color: #fff;
  margin-top: 100px;
}
.container h1 {
  padding-top: 25px;
  text-align: center;
  font-weight: 500;
  color: #000;
  font-size: 48px;
}
.container ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.container ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
.container ul li a:hover {
  color: orange;
}
